<svg
  class="rockEyeBall"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 302.85 116.39"
>
  <defs><style>.cls-1{fill:#fff;}</style></defs><title>EyeBall1</title>
  <g
    id="Layer_2"
    data-name="Layer 2"
  >
    <g id="Website">
      <circle class="cls-1" cx="58.2" cy="58.2" r="58.2"/>
      <circle class="cls-1" cx="244.66" cy="58.2" r="58.2"/>
    </g>
  </g>
</svg>
{{yield}}
