<svg class="rockEyeBall" id="rockEyeBall3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.68 16.89"><defs><style>.cls-1{fill:#fff;}</style></defs><title>EyeBall3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><ellipse class="cls-1" cx="11.01" cy="8.44" rx="11.01" ry="8.44"/><ellipse class="cls-1" cx="50.68" cy="8.44" rx="11.01" ry="8.44"/></g></g></svg>
{{yield}}
