<svg class="rockPupil" id="rockPupil6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.4 8.3"><title>Pupil6</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><ellipse cx="4.75" cy="4.15" rx="4.75" ry="4.15"/><ellipse cx="55.64" cy="4.15" rx="4.75" ry="4.15"/></g></g></svg>
{{yield}}
