<svg class="rockBody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.56 110.26"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>Rock3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M9.22,24.85C12.6,18.56,35.55,6.53,53.75.23c8.1-2.8,86.61,20.66,83.56,27.69-2.69,6.2-4.35,13.58-5.49,18.19-.33,1.33,13.76-.16,15,6.44C149,63.6,171.35,97.06,160.7,104c-16.62,10.87-112.88,5-114.59,1.45C42.93,99,5.38,109.39,2,106.41c-6-5.23,2.66-51.73,10.3-50C17.38,57.64,5.46,31.85,9.22,24.85Z"/></g></g></svg>
{{yield}}
