<svg
  class="rockBody"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 709.8 450.87"
>
  <defs><style>.cls-1{fill:#9bcce7;}</style></defs><title>RockBody1</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Website">
      <path
        class="cls-1 rockPath"
        d="M114.44,136.84c39.24-35.5,58.3-105.23,134.92-129.52s312.7,10.81,322,121.06,44.19,92,66.61,93.83S753.88,390.38,684.74,437.1s-271.12-39-351.47-56.54S97.38,466.85,46.74,414.41C-.64,365.32-16.15,266.34,19.67,251,54.61,236,75.2,172.35,114.44,136.84Z"
      />
    </g>
  </g>
</svg>

{{yield}}
