<svg class="rockBody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159.03 87.13"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>Rock5</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M159,52.82c0,29.17-35.6,34.31-79.52,34.31S0,82,0,52.82,35.6,0,79.51,0,159,23.65,159,52.82Z"/></g></g></svg>

{{yield}}
