<div id="rockContainer">
  <div id="rockCenter">
    <div id="rockSpace">
      <Rock-1/>
      <Eye-Ball-1/>
      <Pupil-1/>
      {{set-colors model.bColor model.rColor model.pColor}}
    </div>
  </div>
  <div id="rockName">
    {{model.name}}
  </div>
</div>

<div id="bottomBar" class="white about">
  Rock Friend is a first attempt at working in Ember.
  <br>
  Click on "New Rock" on the random page to create new rocks.
  <br>
  Screenshot and share your wonderful creations.
</div>
{{outlet}}
