<div id="title">
  {{#link-to "index"}}
    <img id="titleText" src="/assets/svg/RockFriend.svg" alt="Rock Friend">
  {{/link-to}}
  <br>
  <a href="www.halpan9000.com">
    <img
      id="BroughtToYouByHalPan"
      src="/assets/svg/BroughtToYouByHalPan.svg"
      alt="Brought to you by Hal Pan"
    >
  </a>
</div>

<div id="editBar">
  Rock Friends <br>
  {{#each model as |rock index|}}
    {{#link-to "edit" 2}}
      <Rock-1 />
      {{set-colors rock.rColor}}
      {{index}}
    {{/link-to}}
  {{/each}}
</div>

{{outlet}}

<div id="mainContainer">
  <div id="sideBar">
    {{#link-to "index"}}
      <svg
        class="menuItem"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 232.59 51.52"
      >
        <title>Random</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Website">
            <path
              d="M10,49.26a2.13,2.13,0,0,1-.85,1.55,2,2,0,0,1-1.27.5c-1.06.07-2.18.21-3.24.21A8.25,8.25,0,0,1,2.12,51,2.63,2.63,0,0,1,.85,49.89a11.76,11.76,0,0,1-.71-1.48A4.1,4.1,0,0,1,0,47.49C.35,42.7.21,37.83.21,33c0-5.22-.07-10.38,0-15.53,0-1.9.07-3.81.14-5.71S.42,8,.42,6.07a7,7,0,0,1,.64-2.75A3.09,3.09,0,0,1,3.88,1.55c.85-.07,1.7,0,2.54,0,1.91.07,3.81.07,5.79.07l5.36.21a16.39,16.39,0,0,1,2,.08H20a10.62,10.62,0,0,1,5.72,2.61A9.71,9.71,0,0,1,28,7.62c.35,1,.77,2,1.13,3a2.93,2.93,0,0,1,.28,1.05c.28,1.42.49,2.76.63,4.17a31.53,31.53,0,0,1,.29,4.44,18.54,18.54,0,0,1-1.35,7.34A16.61,16.61,0,0,1,26.39,32c-.14.21-.35.35-.49.56a1.58,1.58,0,0,0-.57,1.77,10.21,10.21,0,0,0,.43,1.2,40.16,40.16,0,0,1,2.33,5c.42,1.06,1,2.12,1.48,3.17a13.58,13.58,0,0,1,1,2.83,3.62,3.62,0,0,1-.92,3.6,2.6,2.6,0,0,1-1.2.7,20.75,20.75,0,0,1-2.19.28,17.62,17.62,0,0,1-1.76.22,1.24,1.24,0,0,1-.5.07,9.14,9.14,0,0,1-2.25-.85,5,5,0,0,1-1.91-2.33c-1-1.69-1.76-3.46-2.61-5.29-.64-1.56-1.41-3-2.12-4.59a1.05,1.05,0,0,0-.7-.63,3.09,3.09,0,0,0-2.26-.08,1.7,1.7,0,0,0-1,.85,8.49,8.49,0,0,0-.71,2.26c-.14.71-.14,1.41-.21,2.12v2C10.16,46.29,10,47.78,10,49.26Zm.49-29.43V27A1.38,1.38,0,0,0,12,28c.77,0,1.55-.07,2.33-.14a8.85,8.85,0,0,0,2.75-.64,2.54,2.54,0,0,0,1.41-1.41c.14-.28.28-.57.42-.92a10.9,10.9,0,0,0,1.27-4.73c.07-1.27.07-2.47.07-3.74a9.58,9.58,0,0,0-.77-3.67,2.23,2.23,0,0,0-1-1A7.93,7.93,0,0,0,15.67,11c-1.34-.07-2.69,0-4,0a1,1,0,0,0-.77.35,3.23,3.23,0,0,0-.57,1.77c.07,2.18.07,4.44.07,6.7Z"
            />
            <path
              d="M56.24.92a2.61,2.61,0,0,1,1.84.56A9.33,9.33,0,0,1,59.84,3a2.82,2.82,0,0,1,.36.57,13.74,13.74,0,0,1,.91,3.32,20.59,20.59,0,0,0,.64,2.61c.28,1.13.56,2.25.78,3.38a.56.56,0,0,1,.07.29,7.18,7.18,0,0,0,.56,2.75c.42,1.41.78,2.82,1.2,4.23a7.45,7.45,0,0,0,.35,1.2c.29,1.13.57,2.26.85,3.39.56,2.05,1.2,4.09,1.76,6.14.71,2.75,1.35,5.58,2.05,8.33.42,1.62.92,3.17,1.34,4.73.28,1,.57,1.9.78,2.89a5.47,5.47,0,0,1-.36,2.12,3.16,3.16,0,0,1-2.39,1.83,10.74,10.74,0,0,1-6,.07.35.35,0,0,0-.21-.07,11.48,11.48,0,0,1-1.63-1.55,4.05,4.05,0,0,1-1-2.12,2,2,0,0,0-1.27-1.62c-.21,0-.42-.07-.63-.07-2-.07-3.95-.07-5.93-.14-.35,0-.78-.07-1.2-.07a1.5,1.5,0,0,0-1.48.63,8,8,0,0,0-.78,1.55,4.39,4.39,0,0,1-1.9,2.54,5.74,5.74,0,0,1-.85.57,4,4,0,0,1-2,.49,17.62,17.62,0,0,1-4.3-.49,7.9,7.9,0,0,1-1.69-.71,1.23,1.23,0,0,1-.64-1.2,6.19,6.19,0,0,1,.28-2.75c.36-1.13.78-2.33,1.06-3.53s.57-2.4.85-3.6c.42-1.76.77-3.53,1.2-5.29.56-2.19,1.2-4.3,1.76-6.42.28-1.34.64-2.61.92-3.88s.7-2.61,1.06-3.88c.28-.92.49-1.77.77-2.69.57-1.9,1.2-3.74,1.7-5.64.28-1.06.42-2.19.7-3.32.43-1.34.78-2.75,1.34-4.09a4.1,4.1,0,0,1,3-2.26h.28A6.39,6.39,0,0,1,54.9.92Zm-.7,31.68A1.29,1.29,0,0,0,57,30.91a7.76,7.76,0,0,0-.35-1.2c-.28-.85-.57-1.69-.78-2.54-.21-1.06-.35-2.05-.56-3.11-.07-.14-.07-.28-.14-.42s-.36-.28-.57,0a6,6,0,0,0-.21.64c-.28,1.55-.92,3.1-1.13,4.72a3.11,3.11,0,0,1-.21.78c-.14.42-.35.92-.5,1.41-.21.71-.07,1.06.64,1.13s1.48.21,2.19.28Z"
            />
            <path
              d="M87.09,47.28a5.25,5.25,0,0,1-.71,2.47,1,1,0,0,1-.71.57c-.7.14-1.48.28-2.25.49A11,11,0,0,1,80,50.67a2.58,2.58,0,0,1-2.19-2.54c-.07-2.68-.14-5.29-.21-8,0-1.06-.07-2-.14-3.11,0-.49-.07-1-.07-1.41V23.57c0-4.09-.14-8.26-.14-12.35,0-1,.14-1.9.21-2.89s.21-1.91.28-2.83a8.72,8.72,0,0,1,.78-2.75A2.87,2.87,0,0,1,80.8,1a1.1,1.1,0,0,1,.5-.07A10.25,10.25,0,0,1,85.39,2,4,4,0,0,1,87.3,4c.84,1.63,1.69,3.18,2.47,4.73.7,1.34,1.34,2.75,2,4.09l1.49,3c.42.84.84,1.69,1.27,2.47.84,1.76,1.76,3.46,2.68,5.22.42.85.91,1.69,1.41,2.54a1,1,0,0,0,.49.42A.68.68,0,0,0,100,26a2.23,2.23,0,0,0,.35-1.48c-.07-2.47-.21-4.94-.28-7.41-.07-1.41-.07-2.82-.14-4.31-.07-1.9-.14-3.81-.21-5.78a20.17,20.17,0,0,1,.14-2,8,8,0,0,1,1.27-3A2.16,2.16,0,0,1,103.18.85a1,1,0,0,0,.49-.07,6.18,6.18,0,0,1,4,1,3.53,3.53,0,0,1,1.48,3c.08,3.81.15,7.62.15,11.43a11.59,11.59,0,0,0,.14,1.55c.07,2.61.14,5.23.28,7.77s.21,4.87.35,7.27a19.87,19.87,0,0,0,.07,2c.07,3,.14,6,.21,9,0,.92.07,1.77.07,2.62a12.58,12.58,0,0,1-.49,3.24c-.14.43-.42.57-.78.78a6.87,6.87,0,0,1-5,.14,3.43,3.43,0,0,1-1.48-1c-.56-.63-1.13-1.2-1.69-1.83a38.67,38.67,0,0,1-2.68-3.39c-.71-1.13-1.42-2.26-2.12-3.39-.85-1.55-1.91-3-2.89-4.59-1.56-2.4-3.18-4.86-4.73-7.26a1,1,0,0,0-.92-.57c-.42.07-.64.21-.71.64a2.87,2.87,0,0,0-.07.77c0,2.9.07,5.79.07,8.68h.15Z"
            />
            <path
              d="M116.65,11.08c0-1.2.22-2.4.29-3.6a25.75,25.75,0,0,1,.63-4A3.76,3.76,0,0,1,121,.78a40.16,40.16,0,0,0,4.09-.29,25.69,25.69,0,0,1,4,0c1.77.07,3.53.14,5.23.29.84.07,1.69.28,2.54.42.49.07,1,.21,1.48.28.14.07.35.07.49.14a22.73,22.73,0,0,1,4.59,2.19,9.47,9.47,0,0,1,2.75,2.82A15.75,15.75,0,0,1,147.56,9a29.22,29.22,0,0,1,1.06,2.76c.14.35.21.7.36,1.05s.21.78.28,1.13c.14,1.2.28,2.33.49,3.53v.35c.07,2.69.35,5.3.28,8-.07,1.55-.14,3.17-.28,4.73a33.6,33.6,0,0,1-1.13,5.36,3.54,3.54,0,0,0-.21,1.13,12.58,12.58,0,0,1-.92,2.82,22.62,22.62,0,0,1-3,5.08A9.41,9.41,0,0,1,143,46.37a17.11,17.11,0,0,1-4.8,3,12.37,12.37,0,0,1-2.19.78,15.68,15.68,0,0,1-2.61.28c-1.2.14-2.4.14-3.6.21-.71,0-1.41.07-2.19.07-1.83.07-3.67.07-5.5.07a17.42,17.42,0,0,1-1.91-.07.84.84,0,0,1-.56-.14,4.31,4.31,0,0,1-2.12-2.47c-.07-.28-.07-.57-.14-.85-.07-1.13-.07-2.19-.14-3.31-.14-2-.28-4.17-.43-6.21,0-.43-.07-.85-.07-1.27-.07-4.1-.07-8.19-.14-12.36S116.58,15.46,116.65,11.08Zm11.51,23.15v3.46a1.6,1.6,0,0,0,1.48,1.55,5.11,5.11,0,0,0,1-.07,31.14,31.14,0,0,0,4.44-1.84,4.7,4.7,0,0,0,1.34-1.13,11.93,11.93,0,0,0,2.19-4.58,32.62,32.62,0,0,0,.92-8.68,17.45,17.45,0,0,0-1-5.37,12.55,12.55,0,0,0-3.81-4.94.6.6,0,0,0-.35-.21c-.85-.28-1.7-.63-2.54-.85a15.25,15.25,0,0,0-1.77-.21.94.94,0,0,0-1.06.71c-.14.49-.35,1.06-.49,1.62-.07.35-.07.71-.14,1.06-.14.71-.28,1.41-.35,2.12s-.07,1.41-.14,2v3c0,1.76.07,3.45.07,5.22C128,29.5,128.09,31.83,128.16,34.23Z"
            />
            <path
              d="M187.51,33.8a22.61,22.61,0,0,1-1.34,4.87c-.29.71-.57,1.41-.85,2.12A19.93,19.93,0,0,1,183.2,44a23.42,23.42,0,0,1-1.9,2.61A13.1,13.1,0,0,1,177.2,50a12.31,12.31,0,0,1-3.6,1.2l-1.69.22h-.49L168.24,51a18.41,18.41,0,0,1-2.61-.77,10.16,10.16,0,0,1-2.26-1.13,17.28,17.28,0,0,1-1.83-1.41,1.41,1.41,0,0,0-.36-.29A12.58,12.58,0,0,1,158,43.83a19.69,19.69,0,0,1-3-8.61,29.81,29.81,0,0,1-.14-6.14c.07-1.06,0-2.19.07-3.25a32.06,32.06,0,0,1,.5-5.22c.14-.85.21-1.77.28-2.61a36.9,36.9,0,0,1,1.06-5.51,17.11,17.11,0,0,1,4-7,18.49,18.49,0,0,1,4.52-3.59A14.32,14.32,0,0,1,169.58.35a21.53,21.53,0,0,1,4.24-.21A12.17,12.17,0,0,1,177,.71a24.76,24.76,0,0,1,4.09,2,7.53,7.53,0,0,1,2.4,2.33,16,16,0,0,1,2.4,4.66c.64,1.9,1.2,3.74,1.77,5.64a24.44,24.44,0,0,1,1,7.7A59.07,59.07,0,0,1,187.51,33.8ZM177.56,22a21.32,21.32,0,0,0-1.27-6.56,12.52,12.52,0,0,0-1.84-3.25,1.74,1.74,0,0,0-1.13-.71,13.39,13.39,0,0,0-1.62-.35,3.1,3.1,0,0,0-2.61.71,15.36,15.36,0,0,0-3,3.81,20,20,0,0,0-2.25,9,36.07,36.07,0,0,0,.56,8.75,11.45,11.45,0,0,0,1,3.39,6.48,6.48,0,0,0,2.12,2.47,12.85,12.85,0,0,0,2.68,1.2,3.59,3.59,0,0,0,3.17-.43,5.45,5.45,0,0,0,2.19-2.54,18.45,18.45,0,0,0,1.62-5.22,42.94,42.94,0,0,0,.5-7.41C177.63,23.92,177.63,23,177.56,22Z"
            />
            <path
              d="M195.2,9a29.42,29.42,0,0,1,.07-3.53,8.71,8.71,0,0,1,1.06-3.24A4.36,4.36,0,0,1,197.39,1a3.13,3.13,0,0,1,2.25-1c1.06.07,2.05.14,3.11.28a3.1,3.1,0,0,1,2.54,1.55,13.31,13.31,0,0,1,1.76,3.11c.64,1.48,1.35,3,2,4.52,1.2,2.47,2.4,4.94,3.6,7.48a1.53,1.53,0,0,0,.21.35.61.61,0,0,0,.92.07,4,4,0,0,0,.49-.56c.71-1.34,1.42-2.69,2.12-4.1.21-.49.42-1,.64-1.48C218,9.1,218.84,7,219.83,4.87a7.82,7.82,0,0,1,2.82-3.25,6.34,6.34,0,0,1,4-1.2c.43.07.85,0,1.27.07a2.66,2.66,0,0,1,.78.07c1.13.29,1.55,1.2,2,2.12a9.24,9.24,0,0,1,.63,3.88c0,2.76.21,5.51.42,8.26.15,1.48.15,3,.22,4.45,0,2.54,0,5.08.14,7.69s.21,5.36.35,8.11a52,52,0,0,1,.07,5.72c-.14,1.41,0,2.82,0,4.23a12.74,12.74,0,0,1-.49,4.31,2.26,2.26,0,0,1-2.12,1.9,6.88,6.88,0,0,1-1.27.15,16.92,16.92,0,0,1-2.68.07,7.32,7.32,0,0,1-1.2-.07A2.18,2.18,0,0,1,223.29,50a14.25,14.25,0,0,1-1-4.94c-.07-2.19-.07-4.38-.14-6.64L222,34.23c-.07-1.63-.07-3.18-.15-4.8a2.45,2.45,0,0,0-.07-.71c-.21-.56-.63-.7-1-.28a3.38,3.38,0,0,0-.71.85c-.56.91-1,1.83-1.48,2.68-.64,1.2-1.27,2.33-2,3.53a3,3,0,0,1-2.26,1.55,3.13,3.13,0,0,1-2.11-.42c-.22-.14-.36-.21-.5-.29a4.38,4.38,0,0,1-1.06-1.2c-.42-1-1-2.11-1.41-3.24s-1.13-2.54-1.62-3.81a1.37,1.37,0,0,0-.64-.64.52.52,0,0,0-.7.36,12.76,12.76,0,0,0-.28,1.62c0,1.76-.07,3.46-.07,5.15,0,3.81,0,7.55-.07,11.29,0,.57-.08,1.2-.08,1.77a5,5,0,0,1-1,2.61,2.49,2.49,0,0,1-2.26,1,12.11,12.11,0,0,1-2.33.08,5.62,5.62,0,0,1-2.4-.43,4.47,4.47,0,0,1-1.84-2.11,10.75,10.75,0,0,1-1-4.66c.07-3.46.14-6.85.21-10.24.07-3,.07-5.85.14-8.82h-.07C195.2,19.76,195.13,14.4,195.2,9Z"
            />
          </g>
        </g>
      </svg>
    {{/link-to}}
    {{#link-to "create"}}
      <svg
        class="menuItem"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 205.67 51.73"
      >
        <defs><style>.cls-1{fill:#231f20;}</style></defs>
        <title>Create</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Website">
            <path
              class="cls-1"
              d="M10.18,30.22a18.78,18.78,0,0,0,.49,3A20,20,0,0,0,11.52,36a5.52,5.52,0,0,0,1.55,2.12,1,1,0,0,1,.43.35,6.9,6.9,0,0,0,3.24,2.05A7.07,7.07,0,0,0,20,41a10.57,10.57,0,0,0,3-.85,7.35,7.35,0,0,1,1.7-.35,3.41,3.41,0,0,0,.84-.07,6.72,6.72,0,0,1,3.32.78,3.67,3.67,0,0,1,1.77,2.18A5.7,5.7,0,0,1,30.43,47,4.12,4.12,0,0,1,29,48.71c-.49.29-1.06.57-1.55.85s-1.13.49-1.62.71a12.63,12.63,0,0,1-4.8,1,33.79,33.79,0,0,1-5.51,0,10.16,10.16,0,0,1-2.82-.84c-.7-.36-1.41-.64-2.19-1A11.52,11.52,0,0,1,8,47.94c-.49-.43-1-.78-1.41-1.13L5.73,46a15,15,0,0,1-2.82-4.52,7.06,7.06,0,0,0-.49-1,17.22,17.22,0,0,1-.85-2.54A43.93,43.93,0,0,1,.3,33.12,33.63,33.63,0,0,1,0,27.82a22.78,22.78,0,0,1,.63-4.3c.07-.28.07-.64.14-1,.07-.63.15-1.34.29-2.05a22.31,22.31,0,0,1,.56-3.1c.35-1.48.85-2.89,1.27-4.31a15.9,15.9,0,0,1,.92-1.9A31.54,31.54,0,0,1,6.72,6.58,19.15,19.15,0,0,1,11.1,2.7c.21-.07.49-.21.7-.28s.64-.28,1-.43.92-.35,1.41-.63a14.17,14.17,0,0,1,4-.92,10.31,10.31,0,0,1,3.59.07A.45.45,0,0,0,22,.58a12.28,12.28,0,0,1,5.22,1.7,23.34,23.34,0,0,1,2.19,1.48A1.7,1.7,0,0,1,30.08,5a8.64,8.64,0,0,1,.07,1.9,6.5,6.5,0,0,1-1.62,3.53,3.82,3.82,0,0,1-4.09,1.34c-.78-.14-1.49-.35-2.26-.56a9.81,9.81,0,0,1-.92-.42c-.14,0-.21-.15-.35-.15a7.42,7.42,0,0,0-4.1,0,8.07,8.07,0,0,0-2.25,1.27,12,12,0,0,0-2.4,3.25,19.17,19.17,0,0,0-1.27,3.6,30.41,30.41,0,0,0-.71,4.52c-.07,1.2,0,2.4,0,3.6S10.11,29.09,10.18,30.22Z"
            />
            <path
              class="cls-1"
              d="M48.36,47.65a4.18,4.18,0,0,1-1.34,3,3.54,3.54,0,0,1-2.33,1,10.73,10.73,0,0,1-2.12,0,4.39,4.39,0,0,1-3.24-1.48,3.15,3.15,0,0,1-.85-2.05c-.07-1.77-.07-3.53-.14-5.29-.07-2.83-.14-5.72-.21-8.54-.14-3.6-.22-7.13-.36-10.73-.07-2.68-.21-5.36-.28-8,0-1.83,0-3.67.07-5.5.14-1.62.35-3.18.5-4.73V5.1a7.05,7.05,0,0,1,1.69-2.82,2.11,2.11,0,0,1,1.76-.64c1,.07,1.91-.07,2.83-.07a9.47,9.47,0,0,1,1.41,0c1.9,0,3.74.07,5.57.07s4-.07,5.86-.07a8,8,0,0,1,2.26.35,10.82,10.82,0,0,1,5.79,4.94A11.64,11.64,0,0,1,66,8.49a25.32,25.32,0,0,1,1.84,9.45v3.74a21.28,21.28,0,0,1-1.27,5.93,12.44,12.44,0,0,1-1.77,3.46,4.53,4.53,0,0,1-.56.63,2.63,2.63,0,0,0-.57,3.46c.36.71.64,1.41,1,2.05.42,1,.85,1.91,1.27,2.89a.56.56,0,0,0,.14.36,24.07,24.07,0,0,0,1.56,3.67,6.37,6.37,0,0,1,.49,1.76,20.75,20.75,0,0,1,.28,2.19,2.78,2.78,0,0,1-1.13,2.33,2.24,2.24,0,0,1-1.83.49c-.36,0-.78.07-1.13.07a18.68,18.68,0,0,1-2,0,8.72,8.72,0,0,1-3-.85,4.07,4.07,0,0,1-1.62-1.69,21,21,0,0,0-.85-2c-.42-.77-.92-1.48-1.41-2.25a24.94,24.94,0,0,1-1.77-3.32,6.52,6.52,0,0,1-.35-.71,9.84,9.84,0,0,1-.63-1.55,1.67,1.67,0,0,0-1.91-1.34,8.56,8.56,0,0,1-1.34,0,.83.83,0,0,0-.85.64,6.57,6.57,0,0,0-.35,2c0,1.27.07,2.54.07,3.81Zm.07-27.8c-.07,1.62-.07,3.25-.14,4.94v1.27a1.7,1.7,0,0,0,1.83,1.83h1.41a1.21,1.21,0,0,0,.5-.07,16.33,16.33,0,0,0,2.4-.84,5.26,5.26,0,0,0,1.69-1.27A6.26,6.26,0,0,0,57.46,23a25.7,25.7,0,0,0,.14-4.72,13.92,13.92,0,0,0-.14-1.7,10.8,10.8,0,0,0-.63-2.12,8.52,8.52,0,0,0-1.13-1.9A4,4,0,0,0,52.52,11H51.18a3.08,3.08,0,0,0-1.9.77,2.66,2.66,0,0,0-.92,2v6Z"
            />
            <path
              class="cls-1"
              d="M101.92,40.88a2.57,2.57,0,0,1,2.69,1.62,9.44,9.44,0,0,1,.56,5.37,8,8,0,0,1-.56,1.69,1.69,1.69,0,0,1-1.35.92c-1,.07-1.9.07-2.89.07-.56,0-1.13-.07-1.76-.07-1.56.07-3.18.14-4.73.14-1.13.07-2.19-.07-3.25,0l-7.48.21c-1.48,0-3-.07-4.45-.14h-.28c-.56-.42-1.13-.78-1.62-1.2a1.13,1.13,0,0,1-.28-.49,8.27,8.27,0,0,1-.5-3.75c.14-2.11.22-4.16.36-6.21.14-2.75.21-5.5.35-8.25.07-1.06,0-2.19.14-3.25a53.34,53.34,0,0,0-.07-6.7v-.57c-.14-3.74-.21-7.41-.28-11.15a26.26,26.26,0,0,1,.28-3.24,5.11,5.11,0,0,1,.28-1.42,17,17,0,0,1,1.2-3.1A2.39,2.39,0,0,1,79.55.3,6.65,6.65,0,0,1,81.88,0c1.2.07,2.4.07,3.6.14,1.55.07,3.1.14,4.66.28,2.19.07,4.37.14,6.56,0A34.66,34.66,0,0,1,100.51.3a7.35,7.35,0,0,1,1.7.35,4.06,4.06,0,0,1,1,.36,2.37,2.37,0,0,1,1.34,1.83,13.13,13.13,0,0,1,.15,5.51,2.06,2.06,0,0,1-.64,1.2,6.43,6.43,0,0,1-2.19,1.34,9.6,9.6,0,0,1-2,.21h-.57a16.44,16.44,0,0,1-4.16.21,12.1,12.1,0,0,0-2.75.21c-.29.07-.64.07-1,.14a13.89,13.89,0,0,0-1.77.36,1.33,1.33,0,0,0-1.2,1.41c-.07.91-.07,1.83-.07,2.75v.63a1.62,1.62,0,0,0,1.13,1.42,2.22,2.22,0,0,0,.71.07c.77,0,1.62-.07,2.4-.07h.84c1.49.14,3,0,4.38.07a2.73,2.73,0,0,1,2.75,2.25c.14.5.14,1,.28,1.49a5.93,5.93,0,0,1,.15,1.62,3,3,0,0,1-1.28,2.61,3.36,3.36,0,0,1-2.11.78c-.64,0-1.27.14-1.91.14a.89.89,0,0,1-.42.07c-1.2.14-2.4.21-3.53.28-.78.07-1.55.21-2.26.28s-.85.43-1,1a20.8,20.8,0,0,0-.28,3.6A32.56,32.56,0,0,0,88,37.63a15.25,15.25,0,0,0,.21,1.77A1.68,1.68,0,0,0,89.86,41c.7.07,1.41.07,2.11.14h2.68v.07C97.05,41,99.52,41,101.92,40.88Z"
            />
            <path
              class="cls-1"
              d="M129.45.37a2.55,2.55,0,0,1,1.83.57A8.38,8.38,0,0,1,133,2.42a2.2,2.2,0,0,1,.36.56,14.24,14.24,0,0,1,.92,3.32A20.09,20.09,0,0,0,135,8.91c.28,1.13.56,2.26.78,3.39a.53.53,0,0,1,.07.28,7.11,7.11,0,0,0,.56,2.75c.42,1.41.78,2.83,1.2,4.24a8.1,8.1,0,0,0,.35,1.2c.29,1.13.57,2.25.85,3.38.56,2.05,1.2,4.1,1.77,6.14.7,2.76,1.34,5.58,2,8.33.42,1.62.92,3.18,1.34,4.73.29,1,.57,1.9.78,2.89a5.62,5.62,0,0,1-.35,2.12,3.23,3.23,0,0,1-2.4,1.84,10.93,10.93,0,0,1-6,.07.35.35,0,0,0-.21-.07,11.54,11.54,0,0,1-1.63-1.56,4,4,0,0,1-1-2.11,2,2,0,0,0-1.27-1.63c-.21,0-.42-.07-.63-.07-2-.07-4-.07-5.93-.14-.35,0-.77-.07-1.2-.07a1.5,1.5,0,0,0-1.48.63,8.12,8.12,0,0,0-.78,1.56,4.38,4.38,0,0,1-1.9,2.54,5.91,5.91,0,0,1-.85.56,3.91,3.91,0,0,1-2,.5,17.18,17.18,0,0,1-4.31-.5,8.64,8.64,0,0,1-1.69-.7,1.24,1.24,0,0,1-.64-1.2,6.22,6.22,0,0,1,.28-2.76c.36-1.12.78-2.32,1.06-3.52s.57-2.4.85-3.6c.42-1.77.78-3.53,1.2-5.3.56-2.18,1.2-4.3,1.76-6.42.28-1.34.64-2.61.92-3.88s.71-2.61,1.06-3.88c.28-.92.49-1.76.77-2.68.57-1.91,1.2-3.74,1.7-5.65.28-1.06.42-2.19.7-3.32.43-1.34.78-2.75,1.34-4.09a4.12,4.12,0,0,1,3-2.26h.28A6.39,6.39,0,0,1,128.1.37Zm-.71,31.69a1.29,1.29,0,0,0,1.41-1.7,8.1,8.1,0,0,0-.35-1.2c-.28-.84-.57-1.69-.78-2.54-.21-1.05-.35-2-.56-3.1-.07-.14-.07-.28-.14-.42-.14-.29-.36-.29-.57,0a6.61,6.61,0,0,0-.21.63c-.28,1.55-.92,3.11-1.13,4.73a3.36,3.36,0,0,1-.21.78c-.14.42-.35.91-.5,1.41-.21.7-.07,1.05.64,1.13s1.48.21,2.19.28Z"
            />
            <path
              class="cls-1"
              d="M153.44,21.47c-.07-1.83-.14-3.67-.21-5.43,0-1-.07-2-.07-3a3.66,3.66,0,0,0-.57-1.55,1.79,1.79,0,0,0-1.41-.77c-1.34,0-2.68-.08-4.09-.08a2.67,2.67,0,0,1-2.19-1.76,9.59,9.59,0,0,1-.07-3.74,11.33,11.33,0,0,0,.35-1.48,3.18,3.18,0,0,1,2.54-2.4,1.1,1.1,0,0,1,.5-.07c1.55,0,3.17.07,4.8.07,3.17,0,6.35,0,9.52.07,1.84,0,3.67.14,5.51.21a1.94,1.94,0,0,1,.85.21,10.39,10.39,0,0,1,1.48.78,3.06,3.06,0,0,1,.7.92,5,5,0,0,1,.5,2.68V7.43a3,3,0,0,1-1,2.4,1.49,1.49,0,0,1-.85.49l-3,.43c-.64.07-1.34.07-2,.14a1.4,1.4,0,0,0-1.27.84,2.67,2.67,0,0,0-.28.78c-.07.71-.21,1.34-.28,2.05-.07.91-.21,1.83-.29,2.68a.89.89,0,0,1-.07.42c-.07,4.8-.14,9.67-.21,14.54-.07,4.23-.07,8.54-.14,12.77a10.07,10.07,0,0,1-1,4.31A3.05,3.05,0,0,1,158.66,51c-.7.07-1.41,0-2.18,0a2.14,2.14,0,0,1-1.7-1,4.89,4.89,0,0,1-1.2-2.75c-.07-1.34-.21-2.68-.21-4.09,0-4.24,0-8.54.07-12.85v-.63h.07C153.51,27,153.51,24.22,153.44,21.47Z"
            />
            <path
              class="cls-1"
              d="M202.28,40.88A2.56,2.56,0,0,1,205,42.5a9.44,9.44,0,0,1,.56,5.37,8,8,0,0,1-.56,1.69,1.67,1.67,0,0,1-1.34.92c-1,.07-1.91.07-2.9.07-.56,0-1.13-.07-1.76-.07-1.55.07-3.18.14-4.73.14-1.13.07-2.19-.07-3.25,0l-7.48.21c-1.48,0-3-.07-4.44-.14h-.28c-.57-.42-1.13-.78-1.63-1.2a1.13,1.13,0,0,1-.28-.49,8.4,8.4,0,0,1-.49-3.75c.14-2.11.21-4.16.35-6.21.14-2.75.21-5.5.35-8.25.07-1.06,0-2.19.14-3.25a53.34,53.34,0,0,0-.07-6.7v-.57c-.14-3.74-.21-7.41-.28-11.15a26.26,26.26,0,0,1,.28-3.24,5.11,5.11,0,0,1,.28-1.42,17.73,17.73,0,0,1,1.2-3.1A2.42,2.42,0,0,1,179.9.3,6.68,6.68,0,0,1,182.23,0c1.2.07,2.4.07,3.6.14,1.56.07,3.11.14,4.66.28,2.19.07,4.38.14,6.56,0A34.66,34.66,0,0,1,200.86.3a7.35,7.35,0,0,1,1.7.35,4.3,4.3,0,0,1,1,.36,2.39,2.39,0,0,1,1.34,1.83A13.3,13.3,0,0,1,205,8.35a2,2,0,0,1-.64,1.2,6.43,6.43,0,0,1-2.19,1.34,9.6,9.6,0,0,1-2,.21h-.57a16.44,16.44,0,0,1-4.16.21,12.15,12.15,0,0,0-2.75.21c-.28.07-.64.07-1,.14a13.74,13.74,0,0,0-1.76.36,1.32,1.32,0,0,0-1.2,1.41c-.07.91-.07,1.83-.07,2.75v.63a1.61,1.61,0,0,0,1.12,1.42,2.25,2.25,0,0,0,.71.07c.78,0,1.62-.07,2.4-.07h.85c1.48.14,3,0,4.37.07a2.73,2.73,0,0,1,2.75,2.25c.15.5.15,1,.29,1.49a6.34,6.34,0,0,1,.14,1.62A3.06,3.06,0,0,1,200,26.27a3.38,3.38,0,0,1-2.12.78c-.63,0-1.27.14-1.91.14a.89.89,0,0,1-.42.07c-1.2.14-2.4.21-3.53.28-.77.07-1.55.21-2.26.28s-.84.43-1,1a19.87,19.87,0,0,0-.29,3.6,32.56,32.56,0,0,0-.14,5.22,15.25,15.25,0,0,0,.21,1.77A1.69,1.69,0,0,0,190.21,41c.7.07,1.41.07,2.11.14H195v.07C197.41,41,199.88,41,202.28,40.88Z"
            />
          </g>
        </g>
      </svg>
    {{/link-to}}
    {{#link-to "about"}}
      <svg
        class="menuItem"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 178.14 52.43"
      >
        <defs><style>.cls-1{fill:#231f20;}</style></defs>
        <title>About</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Website">
            <path
              class="cls-1"
              d="M24.63,50a12.42,12.42,0,0,1-1.34-3.82,1.76,1.76,0,0,0-1.91-1.41c-.77,0-1.62.07-2.39.07-1.27.07-2.54.21-3.82.29a7.56,7.56,0,0,0-1.76.21,2.24,2.24,0,0,0-1.69,1.48c-.29.85-.64,1.69-.92,2.61a2.21,2.21,0,0,1-2.05,1.41H7.91l-5.37.21a1.39,1.39,0,0,1-1.13-.35l-.21-.21A2.82,2.82,0,0,1,.14,47.28c.64-2.19,1.27-4.3,2-6.49a41.35,41.35,0,0,0,1-4.09c.28-1.56.56-3.18,1-4.73C5,28.65,6,25.26,7,22c.7-2.47,1.41-4.87,2.12-7.34.49-1.55,1-3.11,1.41-4.73s.77-3.39,1.2-5.08a3.75,3.75,0,0,1,2-2.68A1.37,1.37,0,0,1,14.33,2c1.55,0,3-.36,4.51-.5a5,5,0,0,1,2.47.21,2.88,2.88,0,0,1,2,2.12c.35,1.48.85,2.89,1.13,4.45a57.18,57.18,0,0,0,2.12,7.83c.7,2.05,1.27,4.23,1.83,6.35.92,3.39,1.84,6.85,2.75,10.23.36,1.56.78,3.11,1.13,4.59s.57,3.11.92,4.59c.14.85.42,1.69.57,2.47.28,1.2.56,2.33.77,3.46a3.75,3.75,0,0,1-.42,2.47,1,1,0,0,1-.78.49c-.92.14-1.83.35-2.75.49h-.49c-1,.15-1.91.22-2.9.29H27A2.61,2.61,0,0,1,24.63,50ZM16.45,33.87c.49-.07,1-.07,1.48-.14a18.63,18.63,0,0,0,2-.14.82.82,0,0,0,.78-.56,1.81,1.81,0,0,0,.14-1.2,11.6,11.6,0,0,1-.35-1.2,30.56,30.56,0,0,0-1.2-4.52c-.43-1.34-.85-2.61-1.27-3.88a1.53,1.53,0,0,0-.21-.35.46.46,0,0,0-.78,0c-.07.21-.21.49-.28.77-.57,2.76-1.13,5.51-1.7,8.26a8.8,8.8,0,0,0-.21,1.91c-.07.63.35,1,1,1a2,2,0,0,0,.64,0Z"
            />
            <path
              class="cls-1"
              d="M69.09,18.91A10.3,10.3,0,0,1,68,22.16,7.76,7.76,0,0,1,67,23.43a3.21,3.21,0,0,0-.7,2.12,1.22,1.22,0,0,0,.42.84c.5.5.92,1.06,1.34,1.56a9,9,0,0,1,1.56,3.67A13.87,13.87,0,0,1,70,35c0,1.13.07,2.33,0,3.46a21.23,21.23,0,0,1-.57,4.73,10.08,10.08,0,0,1-.35,1.13c-.07.28-.21.56-.28.92a12.59,12.59,0,0,1-1.2,3,4.22,4.22,0,0,1-2.82,2.19,20,20,0,0,1-4.1.56c-.84,0-1.76.07-2.61.07-.7.07-1.41,0-2.12,0a19.87,19.87,0,0,1-2-.07A34.61,34.61,0,0,0,50.11,51C49,51,47.78,51,46.58,51a8.69,8.69,0,0,1-1.2-.21c-.28,0-.57-.14-.78-.14a5.92,5.92,0,0,1-2-.63,1.48,1.48,0,0,1-.57-.57A8,8,0,0,1,41,46.37c-.07-.57-.07-1.2-.14-1.84-.21-6-.14-12.07-.21-18.07,0-1.48-.07-2.89-.07-4.37-.14-3.46-.21-7-.28-10.45a12.56,12.56,0,0,1,.07-3.24c.21-1.41.14-2.82.35-4.24A3.47,3.47,0,0,1,41.07,3c.29-.49.5-.91.71-1.34A2.38,2.38,0,0,1,43,.49,6.65,6.65,0,0,1,45.59,0h2.82C50,0,51.52,0,53.07.07a20.09,20.09,0,0,1,2.82.28c1.35.14,2.69.36,4,.57a5.37,5.37,0,0,1,2.11.7c.92.43,1.77.85,2.69,1.34a6,6,0,0,1,1.69,1.56,12.24,12.24,0,0,1,2.26,3.67,13.13,13.13,0,0,1,.77,3.38c.07.78.14,1.56.14,2A30.33,30.33,0,0,1,69.09,18.91ZM57.38,20c.56-.07,1-.14,1.34-.7a3.49,3.49,0,0,0,.56-2.05,12,12,0,0,0-.07-1.55,6.36,6.36,0,0,0-.63-2.26,2.16,2.16,0,0,0-.92-1,8.67,8.67,0,0,0-4.45-.92.9.9,0,0,0-1.06.92,22.34,22.34,0,0,0-.21,5.29,4.09,4.09,0,0,0,.28,1.27,1.16,1.16,0,0,0,1.2.85c.92,0,1.84.07,2.76.14ZM52.79,38.88a2.08,2.08,0,0,0,.42,1,2,2,0,0,0,2.19.78,2.41,2.41,0,0,1,.71-.07,12,12,0,0,0,2.68-.64,2.12,2.12,0,0,0,1.41-1.48,5.15,5.15,0,0,0,.28-2,10.83,10.83,0,0,0-.56-4,3,3,0,0,0-1.2-1.41,7.92,7.92,0,0,0-3.11-.85,7,7,0,0,1-1.83,0,1.32,1.32,0,0,0-1.41,1.2,9.31,9.31,0,0,0-.08,1.49c.08.91.15,1.76.22,2.47A11.21,11.21,0,0,0,52.79,38.88Z"
            />
            <path
              class="cls-1"
              d="M108.75,33.87a22.05,22.05,0,0,1-1.34,4.87c-.28.71-.56,1.42-.85,2.12a19.88,19.88,0,0,1-2.11,3.25,23.52,23.52,0,0,1-1.91,2.61A13.36,13.36,0,0,1,98.45,50a12.81,12.81,0,0,1-3.6,1.19l-1.69.22h-.5L89.49,51a18.53,18.53,0,0,1-2.62-.77,10.09,10.09,0,0,1-2.25-1.13,17.37,17.37,0,0,1-1.84-1.41,1.54,1.54,0,0,0-.35-.29,12.62,12.62,0,0,1-3.18-3.52,19.68,19.68,0,0,1-3-8.61,29.81,29.81,0,0,1-.14-6.14c.07-1.06,0-2.19.07-3.25a32.06,32.06,0,0,1,.49-5.22c.14-.85.21-1.77.28-2.61a39.63,39.63,0,0,1,1.06-5.51c.92-2.54,2-5.08,4-7A18.43,18.43,0,0,1,86.59,2,14.56,14.56,0,0,1,90.83.42,21.43,21.43,0,0,1,95.06.21a12.24,12.24,0,0,1,3.18.57,24.76,24.76,0,0,1,4.09,2,7.63,7.63,0,0,1,2.4,2.33,16.35,16.35,0,0,1,2.4,4.66c.63,1.9,1.2,3.74,1.76,5.65a24.05,24.05,0,0,1,1,7.69A58.19,58.19,0,0,1,108.75,33.87Zm-10-11.78a21,21,0,0,0-1.27-6.56,12.48,12.48,0,0,0-1.83-3.25,1.79,1.79,0,0,0-1.13-.71,13.55,13.55,0,0,0-1.63-.35,3.12,3.12,0,0,0-2.61.71,15.27,15.27,0,0,0-3,3.81,20.06,20.06,0,0,0-2.26,9,36.58,36.58,0,0,0,.56,8.75,12.08,12.08,0,0,0,1,3.39,6.56,6.56,0,0,0,2.12,2.47,13.09,13.09,0,0,0,2.68,1.2,3.62,3.62,0,0,0,3.18-.43,5.5,5.5,0,0,0,2.19-2.54,18.77,18.77,0,0,0,1.62-5.22,43.94,43.94,0,0,0,.49-7.41C98.87,24,98.87,23.08,98.8,22.09Z"
            />
            <path
              class="cls-1"
              d="M146.22,28.16c0,2-.07,3.88-.21,5.86a38.25,38.25,0,0,1-1.48,8.89,13.23,13.23,0,0,1-2.68,5.36c-.28.28-.64.56-.92.85s-.42.35-.56.49A7.77,7.77,0,0,1,137,51.52c-.56.14-1.2.28-1.84.49a18.5,18.5,0,0,1-3.45.42,9,9,0,0,1-3.32-.56c-.85-.35-1.83-.64-2.68-.92a13,13,0,0,1-3.6-2.12,8.53,8.53,0,0,1-1.91-2.61c-.28-.63-.56-1.34-.91-2A19,19,0,0,1,118,40.86a40,40,0,0,1-.92-4.3c-.14-.78-.21-1.63-.28-2.4s-.15-1.7-.22-2.54a48.18,48.18,0,0,1-.35-7.13c.14-4.1.21-8.19.35-12.35,0-.92.07-1.84.07-2.75a2.51,2.51,0,0,1,.15-.78c.28-1.27.56-2.54.91-3.81a3.77,3.77,0,0,1,2.05-2.68,3.69,3.69,0,0,1,4.23.56,4.06,4.06,0,0,1,.85,1.41,10.61,10.61,0,0,1,.57,3.67c.14,2.54-.15,5.08-.22,7.62v1.2c0,.78-.07,1.56-.14,2.33,0,.57-.07,1.13-.07,1.7,0,2.54-.07,5.08,0,7.62,0,2.05.07,4.16.21,6.21a13.55,13.55,0,0,0,.92,4.37,8.5,8.5,0,0,0,2.68,3.67c.21.07.43.22.64.29a4.76,4.76,0,0,0,3-.07,2.78,2.78,0,0,0,1.41-1.13,11.12,11.12,0,0,0,1.56-3.32,29.1,29.1,0,0,0,1.34-7.76c.21-4.24.28-8.4.49-12.64.14-2.47.42-4.87.64-7.34.07-1.19.14-2.39.28-3.59a8.67,8.67,0,0,1,1.76-4.52c.14-.14.29-.28.43-.28a11.08,11.08,0,0,1,2.18-.57,4.38,4.38,0,0,1,1.84.28,2.12,2.12,0,0,1,1.34,1,5.09,5.09,0,0,1,.78,2.83c-.07,1.12-.07,2.18-.07,3.31v9.67h-.08C146.29,21.81,146.29,25,146.22,28.16Z"
            />
            <path
              class="cls-1"
              d="M160,22.09c-.07-1.84-.15-3.67-.22-5.44,0-1-.07-2-.07-3a3.74,3.74,0,0,0-.56-1.55,1.79,1.79,0,0,0-1.41-.78c-1.34,0-2.68-.07-4.1-.07a2.69,2.69,0,0,1-2.18-1.76,9.22,9.22,0,0,1-.07-3.74,11.47,11.47,0,0,0,.35-1.49,3.16,3.16,0,0,1,2.54-2.39.92.92,0,0,1,.49-.08c1.56,0,3.18.08,4.8.08,3.18,0,6.35,0,9.53.07,1.83,0,3.67.14,5.5.21a1.87,1.87,0,0,1,.85.21,8.65,8.65,0,0,1,1.48.78,3,3,0,0,1,.71.91,5.11,5.11,0,0,1,.49,2.68V8a3,3,0,0,1-1,2.4,1.46,1.46,0,0,1-.84.5l-3,.42c-.63.07-1.34.07-2,.14a1.4,1.4,0,0,0-1.27.85,2.48,2.48,0,0,0-.29.78c-.07.7-.21,1.34-.28,2-.07.92-.21,1.84-.28,2.68a.91.91,0,0,1-.07.43c-.07,4.8-.14,9.67-.21,14.54-.07,4.23-.07,8.53-.14,12.77a10.18,10.18,0,0,1-1,4.3,3.07,3.07,0,0,1-2.54,1.77c-.71.07-1.41,0-2.19,0a2.15,2.15,0,0,1-1.69-1,4.85,4.85,0,0,1-1.2-2.75c-.07-1.34-.21-2.68-.21-4.1,0-4.23,0-8.53.07-12.84v-.63h.07C160.06,27.59,160.06,24.84,160,22.09Z"
            />
          </g>
        </g>
      </svg>
    {{/link-to}}
  </div>
</div>
