  <div id="pickColor">
    <img class="createTitleText" src="/assets/svg/Color.svg" alt="Color"/>
    <div class="pickContent">
      <div id="colorSquares">
        <div id="pickBackgroundColor">
        </div>
        <div id="pickBodyColor">
        </div>
        <div id="pickPupilColor">
        </div>
      </div>
      <div id="colorText">
        <img src="/assets/svg/Background.svg" alt="Background" />
        <img src="/assets/svg/Body.svg" alt="Body" />
        <img src="/assets/svg/Pupils.svg" alt="Pupils" />
      </div>
    </div>
  </div>
  <div id="pickPupil">
    <img class="createTitleText" src="/assets/svg/Pupils.svg" />
  </div>
  <div id="pickEyeBall">
    <img class="createTitleText" src="/assets/svg/EyeBalls.svg" />
  </div>
  <div id="pickBody">
    <img class="createTitleText" src="/assets/svg/Bodies.svg" />
  </div>
  <div id="pickData">
    <img class="createTitleText" src="/assets/svg/Save.svg" />
  </div>

{{outlet}}
